/* index.css */
img {
    width: 200px;
  }
  
  /* eloquent-ruby.css */
  .review {
    background-color: lightgray;
    line-height: 150%;
  }
  
  
  .site-maintainer img {
    border-radius: 50%;
  }
  
/* Contact page specific styles */
main {
    text-align: center;
  }
  
  .site-maintainer img {
    border: 3px solid gold;
  }
  
  