/* index.css */
img {
    width: 200px;
  }
  
  /* eloquent-ruby.css */
  .review {
    background-color: lightgray;
    line-height: 150%;
  }
  
/* Contact page specific styles */
main {
    text-align: center;
  }
  
  .site-maintainer {

    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 3px solid gold;

  }
  
  