/* index.css */
img {
    width: 200px;
  }
  
  /* eloquent-ruby.css */
  .review {
    background-color: lightgray;
    line-height: 150%;
  }
  
  /* contact.css */
  main {
    text-align: center;
  }
  
  .site-maintainer img {
    border-radius: 50%;
  }

/* Index page specific styles */
.index-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.index-images img {
  width: 200px;
  border: 3px solid gold;
}

/* Add this code to index.css */
.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.book img {
  max-width: 100%;
}

.book h3 {
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

