/* index.css */
img {
    width: 200px;
  }
  
  /* eloquent-ruby.css */
  .review {
    background-color: lightgray;
    line-height: 150%;
  }
  
  /* contact.css */
  main {
    text-align: center;
  }
  
  .site-maintainer img {
    border-radius: 50%;
  }

/* Index page specific styles */
.index-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.index-images img {
  width: 200px;
  border: 3px solid gold;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.book {
  flex-basis: calc(50% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.book img {
  max-width: 100%;
}

.book h3 {
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

