body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
  background-color: black;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: gold;
  margin-bottom: 20px;
}

header {
  background-color: black;
  border-bottom: 3px solid red;
  padding: 20px;
  text-align: center; /* Add this line */
}


nav {
  display: flex;
  gap: 10px;
}

nav a {
  color: red;
  text-decoration: none;
}

nav a:hover {
  color: gold;
}

main {
  background-color: #1c1c1c;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.book-title {
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
}

.index-images img {
  width: 150px;
  margin-bottom: 20px;
  border: 1px solid gold;
  padding: 5px;
}

.review {
  background-color: #3c3c3c;
  padding: 20px;
  margin-bottom: 20px;
}

.review p {
  line-height: 150%;
}


footer {

  background-color: black;
  border-top: 3px solid red;
  padding: 10px; /* Decrease the padding to make the footer smaller */
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}

.site-maintainer img {
  border-radius: 50%;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.social-icons img {
  width: 30px; /* Adjust the width to make the icons smaller */
  margin: 0 5px;
}