/* style.css */
body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  color: gold;
}

header, footer {
  border: 1px solid gold;
  background-color: black;
  padding: 10px;
}

nav a {
  color: red;
}

nav a:hover {
  color: gold;
}

main {
  background-color: #1c1c1c;
  padding: 20px;
}

.book-title {
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
}

.index-images img {
  width: 150px;
  margin-bottom: 20px;
}

.review {
  background-color: #3c3c3c;
  padding: 20px;
  margin-bottom: 20px;
}

.review p {
  line-height: 150%;
}

.site-maintainer img {
  border-radius: 50%;
}
